# Environment variables
.env

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db